<div class="span6" style="height:100px; margin:0 auto 0 auto">
Hostname : <%= @result[0] %> <br />
buffer_queue_length : <%= @result[1] %> <br />
buffer_total_queued_size : <%= @result[2] %> <br />
status : <%= @result[3] %> <br />
</div>
