<!DOCTYPE html>
<html lang="en">
  <head>
    <title>td-agent monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="300">
    <meta charset=utf-8 />
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-header">
      <h1>td-agent monitoring<small> td-agnet inner monitoring dashboard</small></h1>
    </div>
    <div class="row-fluid">
      <div class="span8" id="main">
      	 <%= yield %>
      </div>
      <div class="span4" id="sidebar" style="background-color:green;"></div>
    </div>

    <div id="footer">
    </div>

    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
